:root {
  --text: #333;
  --text-h: #111;
  --bg: #fff;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/160% var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ccc;
    --text-h: #f3f4f6;
    --bg: #14151a;
  }
}

body {
  margin: 0;
}

h1,
h2 {
  font-weight: 600;
  color: var(--text-h);
}
